.lead__popup-close {
  position: absolute;
  left: -24px;
  top: 0px;
  background-image: url(../../../images/icon/popup-сlose.svg);
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.lead__popup-close:hover {
  opacity: 0.6;
}
