.theme-card__wrapper {
    padding: 12px 16px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-decoration: none;
}