.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 329px;
  height: 60px;
  color: #323232;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  padding: 17px 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

@media screen and (max-width: 1439px) {
  .banner__button {
    width: 237px;
    height: 48px;
    font-size: 14px;
    padding: 12px 16px;
  }
}

@media screen and (max-width: 767px) {
  .banner__button {
    width: 335px;
    height: 50px;
    padding: 16px 16px;
  }
}
