.actions__more-button {
  background-image: url(../../../images/icon/arrow-green.svg);
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.actions__more-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1439px) {
  .actions__more-button {
    width: 32px;
    height: 32px;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .actions__more-button {
    width: 50px;
    height: 50px;
  }
}
