.sp-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 32px;
  top: 880px;
  overflow: auto;
  background-color: #F7F4F0;
  padding: 12px;
  z-index: 1;
  border-radius: 8px;
}
