.footer__social-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 181px 0 0;
  margin: 0;
  flex-grow: 3;
}

@media screen and (max-width: 1439px) {
  .footer__social-links {
    flex-direction: row;
    padding: 0;
    flex-grow: 1;
    justify-content: end;
  }
}

@media screen and (max-width: 767px) {
  .footer__social-links {
    order: 1;
    margin: 0 0 24px;
  }
}
