.page {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #323232;
  background-color: #fff;
  max-width: 1440px;
  min-width: 360px;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}