.footer__info-link {
  padding: 0;
  margin: 0 0 12px;
  width: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #323232;
  transition: all .3s;
}

.footer__info-link:last-of-type {
  margin: 0;
}

.footer__info-link:hover {
  text-decoration: underline;
  opacity: 0.7;
}
