.banner__subtitle {
  grid-area: banner__subtitle;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  opacity: 0.7;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .banner__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .banner__subtitle {
    font-size: 14px;
    width: 100%;
  }
}
