.diarys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  margin: 40px auto 0;
  gap: 80px;
  margin: auto;
  max-width: 80%;
  max-height: 428px;
}

@media screen and (max-width: 1144px) {
  .diarys {
    gap: 12px;
    max-height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .diarys {
    margin: 0 0 0 41px;
    justify-content: start;
    min-width: 319px;
    max-width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
}
