.content__slider-button {
  position: absolute;
  right: 107px;
  bottom: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 35px;
  width: 35px;
  padding: 0;
  background-color: transparent;
  margin:0;
  cursor: pointer;
}

.content__slider-button:hover {
  opacity: 0.8;
}
