.sp-popup__title {
  font-family: projito;
  font-size: 26px;
  margin: 0;
  line-height: 1;
  width: 242px;
}

@media screen and (max-width: 767px) {
  .sp-popup__title {
    font-size: 20px;
    width: 160px;
  }
}
