.title {
  margin: 0px auto 62px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  color: #323232;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1439px) {
  .title {
    margin: 0px auto 24px;
    font-size: 30px;
    line-height: 38px;
  }
}
