.slider__title {
    font-family: projito, 'Times New Roman', Times, serif;;
    font-weight: 400;
    color: #f5f5f5;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 355px;
    margin: 16px 0 16px 32px;
    word-wrap: break-word;
}

@media screen and (max-width: 1023px) {
    .slider__title {
       font-size: 30px; 
       max-width: 250px;
       margin-left: 16px;
    }
}

@media screen and (max-width: 600px) {
    .slider__title  {
        font-size: 32px;
        line-height: 1.2;
        color: #323232;
        max-width: 100%;
        margin: 0 0 4px 0;
    }
}
