.exp-card__section-name {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 10px;
}

@media screen and (max-width: 1023px) {
  .exp-card__section-name {
      font-size: 12px;
  }
}
