.navigation__link {
    text-decoration: none;
    margin: 0;
    transition: all 0.5s ease;
    color: #323232;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
}

.navigation__link:active {
    color: #323232;
}

.navigation__link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

@media screen and (max-width: 1439px) {
    .navigation__link {
        font-size: 14px;
        line-height: 1.3;
    }
  }
  