.footer__social-link {
  margin: 0 0 12px;
  padding: 0;
  width: 100%;
  max-width: 158px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #323232;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all .3s;
}

.footer__social-link:last-of-type{
  margin: 0;
}

.footer__social-link:hover {
  text-decoration: underline;
  opacity: 0.7;
}

@media screen and (max-width: 1439px) {
  .footer__social-link {
    max-width: 28px;
    margin: 0 28px 0 0;
    font-size: 0px;
  }

  .footer__social-link:last-of-type {
    margin: 0;
  }
}
