.theme-card {
    min-width: 328px;
    min-height: 526px;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-position: center center;
    background-size: cover;
    transition: opacity 0.7s ease;
    white-space: normal;
    display: flex;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
}

.theme-card:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .theme-card {
        min-width: 180px;
        min-height: 280px;
    }
}