.theme-card {
    display: inline-block;
    width: 328px;
    height: 526px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    transition: opacity 1s ease;
}

.theme-card:hover {
    opacity: 0.8;
}