.table-popup__link {
    font-family: projito, 'Times New Roman', Times, serif;
    font-family: projito;
    font-weight: 400;
    text-decoration: none;
    font-size: 36px;
    line-height: 1;
    color: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.table-popup__link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1440px) {
    .table-popup__link {
        max-width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .table-popup__link {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    .table-popup__link {
        font-size: 20px;
    }
}