.actions__items {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 562px);
  grid-template-rows: repeat(2, 276px);
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .actions__items {
    grid-template-columns: repeat(2, 362px);
    grid-template-rows: repeat(2, 212px);
    column-gap: 12px;
    row-gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .actions__items {
    grid-template-columns: 336px;
    grid-template-rows: 184px;
    row-gap: 12px;
  }
}
