.actions__items {
  display: grid;
  grid-template-columns: repeat(2,  562px);
  grid-template-rows: repeat(2, minmax(276px, max-content));
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .actions__items {
    grid-template-columns: repeat(2, 362px);
    grid-template-rows: repeat(2, minmax(212px, max-content));
    column-gap: 12px;
    row-gap: 24px;
  }
}

@media screen and (max-width: 767px) {
  .actions__items {
    grid-template-columns: 100%;
    margin: 0 12px;
    grid-template-rows: minmax(184px, max-content);
    row-gap: 12px;
  }
}
