.table-popup__close-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 37px;
    right: 37px;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    z-index: 3;
}

.table-popup__close-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .table-popup__close-button {
        top: 25px;
        right: 25px;
    }
}

@media screen and (max-width: 600px) {
    .table-popup__close-button {
        top: 16px;
        right: 16px;
        width: 17px;
        height: 17px;
    }
}