.exp-card {
    display: inline-block;
    min-width: 328px;
    min-height: 526px;
    border-radius: 10px;

    transition: opacity 1s ease;
    background-color: #E7E4DE;
    white-space: normal;
    display: inline-block;
}

.exp-card:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .exp-card {
        min-width: 180px;
        min-height: 280px;
    }
}

@media screen and (max-width: 600px) {
    .exp-card {
        min-height: 352px;
        max-width: 252px;
    }
}