.header__link {
  margin: 0 40px 0 0;
  padding: 12px 10px 11px;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  line-height: 130%;
  /* 26px = 130% */
  text-decoration: none;
  color: #323232;
  white-space: nowrap;
}

.header__link:nth-child(3) {
  margin: 0;
}

.header__link:hover {
  border-bottom: 1px solid rgba(50, 50, 50, 1);
}
