.projects__title {
    margin: 0 0 40px 0;
    text-align: center;
    font-family: 'projito', 'Arial', sans-serif;
    line-height: 1.2;
    font-size: 46px;
    font-weight: 400;
}

@media screen and (max-width: 1439px) {
    .projects__title {
        margin: 0 0 24px 0;
        font-size: 30px;
        line-height: 37px;
    }
}

@media screen and (max-width: 767px) {
    .projects__title {
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {
    .projects__title {
        margin-left: 12px;
        text-align: left;
    }
}