.slider__open-button {
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    max-width: 330px;
    padding: 11px;
    margin: 0 0 32px 32px;
}