.slider__open-button {
    border: 0;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    display: flex;
    align-items: center;
    max-width: 100% ;
    margin: 0 40px 32px 32px;
    padding: 0;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.slider__open-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1023px) {
    .slider__open-button {
       font-size: 14px; 
    }
}