.projects__card-date {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 1439px) {
    .projects__card-date {
        font-size: 12px;
        line-height: 16px;
        bottom: 12px;
    }
}

@media screen and (max-width: 767px) {
    .projects__card-date {
        font-size: 14px;
        line-height: 18px;
    }
}