.banner__button_color_green {
  grid-area: banner__button_color_green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 329px;
  height: 60px;
  background-color: #A5CDAB;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  padding: 17px 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.banner__button_color_green:hover {
  background-color: #97BA9C;
}

.banner__button_color_green:active {
  background-color: #7A9F80;
}

@media screen and (max-width: 1439px) {
  .banner__button_color_green {
    width: 237px;
    height: 48px;
    font-size: 14px;
    padding: 12px 16px;
  }
}

@media screen and (max-width: 767px) {
  .banner__button_color_green {
    width: 335px;
    height: 50px;
    padding: 16px 16px;
  }
}
