.banner__container {
  display: flex;
  align-self: center;
  background-color: #F7F4F0;
  width: 1376px;
  padding: 56px 116px 64px 116px;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .banner__container {
    width: 100%;
    padding: 20px 16px;
  }
}

@media screen and (max-width: 767px) {
  .banner__container {
    width: 100%;
    padding: 20px 12px;
  }
}
