.header__second-level-link {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__second-level-link {
    display: flex;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    margin: 0 32px 0 0;
    color: #232323;
    padding: 0;
    text-decoration: none;
    transition: opacity 0.3s;
    white-space: nowrap;
  }

  .header__second-level-link:hover {
    opacity: 0.6;
    text-decoration: underline;
  }

  .header__second-level-link:last-of-type {
    margin: 0;
  }
}
