.slider__subtitle {
    max-width: 100%;
    font-family: projito, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 1.2;
    color: #323232;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .slider__subtitle {
       font-size: 30px; 
    }
}