.article__gallery {
  display: flex;
  position: relative;
  background-color: #F7F4F0;
  width: 910px;
  height: 520px;
  display: flex;
}

@media screen and (max-width: 1439px) {
  .article__gallery {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .article__image {
    width: 360px;
  }
}
