.news__text {
    grid-area: news__text;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: rgba(50, 50, 50, 0.6);
    margin: 0;
    white-space: normal; 
    
}

@media screen and (max-width: 1023px) {
    .news__text {
       font-size: 14px; 
    }
}

@media screen and (max-width: 600px) {
    .news__text {
       margin-bottom: 8px; 
       color: #323232;
    }
}