.lead__text {
  width: calc(100% - 32px);
  font-family: projito;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.2;
  max-width: 1163px;
  margin: 0 0 0 32px;
}

@media screen and (max-width: 1439px) {
  .lead__text {
    font-size: 30px;
    max-width: 900px;
    min-width: 676px;
    margin: 0 76px 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .lead__text {
    font-size: 26px;
    line-height: 1;
    max-width: 676px;
    min-width: 296px;
    margin: 0 12px 0 12px;
    width: calc(100% - 24px);
  }
}
