.pagination__arrow {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination__arrow:hover {
  opacity: 0.5; 
}