.diary__text {
  max-width: 296px;
  height: 83px;
  margin: 0 16px 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-overflow: ellipsis;
  color: rgba(50, 50, 50, 0.5);
}

@media screen and (max-width: 1024px) {
  .diary__text {
    font-size: 14px;
    line-height: 18px;
    margin: 0 12px 16px;
  }
}

@media screen and (max-width: 700px) {
  .diary__text {
    font-size: 12px;
    line-height: 16px;
  }
}
