.news__name {
    margin: 0;
    color: #323232;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    font-style: italic;
}

@media screen and (max-width: 1023px) {
    .news__name {
       font-size: 12px; 
    }
}