.projects__button {
    display: flex;
    align-items: center;
    margin: 31px auto 0;
    background-color: #A5CDAB;
    border: none;
    border-radius: 8px;
    color: #323232;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    padding: 12px 75.5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.projects__button:hover {
    background-color: #97BA9C;
}

.projects__button:active {
    background-color: #7A9F80;
}