.projects__button {
    display: flex;
    align-items: center;
    margin: 31px auto 0;
    background-color: #A5CDAB;
    border: none;
    border-radius: 8px;
    color: #323232;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    padding: 12px 75.5px;
    cursor: pointer;
    transition: 0.3s ease;
    max-width: min-content;
    white-space: nowrap;
    text-decoration: none;
}

.projects__button:hover {
    background-color: #97BA9C;
}

.projects__button:active {
    background-color: #7A9F80;
}

@media screen and (max-width: 1439px) {
    .projects__button {
        padding: 15px 55px;
        font-size: 14px;
        line-height: 18px;
        margin: 24px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .projects__button {
        padding: 16px 104.5px;
    }
}