@import url(../vendor/normalize.css);
@import url(../vendor/fonts/projito.css);
@import url(../vendor/fonts/PT-sans.css);
@import url(../blocks/page/page.css);

@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/__container/banner__container.css);
@import url(../blocks/banner/__info/banner__info.css);
@import url(../blocks/banner/__title/banner__title.css);
@import url(../blocks/banner/__subtitle/banner__subtitle.css);
@import url(../blocks/banner/__image/banner__image.css);
@import url(../blocks/banner/__buttons/banner__buttons.css);
@import url(../blocks/banner/__button/_white/banner__button_white.css);
@import url(../blocks/banner/__button/_green/banner__button_green.css);

@import url(../blocks/actions/actions.css);
@import url(../blocks/actions/__items/actions__items.css);
@import url(../blocks/actions/__item/actions__item.css);
@import url(../blocks/actions/__title/actions__title.css);
@import url(../blocks/actions/__subtitle/actions__subtitle.css);
@import url(../blocks/actions/__more/actions__more.css);
@import url(../blocks/actions/__more-subtitle/actions__more-subtitle.css);
@import url(../blocks/actions/__more-button/actions__more-button.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__text/lead__text.css);
@import url(../blocks/lead/__popup/lead__popup.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__popup-close/lead__popup-close.css);

@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__button/projects__button.css);
@import url(../blocks/projects/__card-date/projects__card-date.css);
@import url(../blocks/projects/__card-image/projects__card-image.css);
@import url(../blocks/projects/__card-text/projects__card-text.css);
@import url(../blocks/projects/__card-title/projects__card-title.css);
@import url(../blocks/projects/__card/projects__card.css);
@import url(../blocks/projects/__cards/projects__cards.css);
@import url(../blocks/projects/__title/projects__title.css);
@import url(../blocks/projects/__content/projects__content.css);
