@import url(../vendor/normalize.css);
@import url(../vendor/fonts/projito.css);
@import url(../vendor/fonts/PT-sans.css);
@import url(../blocks/page/page.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__text/lead__text.css);
@import url(../blocks/lead/__popup/lead__popup.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__popup-close/lead__popup-close.css);