@import url(../vendor/normalize.css);
@import url(../vendor/fonts/projito.css);
@import url(../vendor/fonts/PT-sans.css);
@import url(../blocks/page/page.css);
@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__button/projects__button.css);
@import url(../blocks/projects/__card-date/projects__card-date.css);
@import url(../blocks/projects/__card-image/projects__card-image.css);
@import url(../blocks/projects/__card-text/projects__card-text.css);
@import url(../blocks/projects/__card-title/projects__card-title.css);
@import url(../blocks/projects/__card/projects__card.css);
@import url(../blocks/projects/__cards/projects__cards.css);
@import url(../blocks/projects/__title/projects__title.css);
@import url(../blocks/projects/__content/projects__content.css);

@import url("../blocks/theme-card/theme-card.css");
@import url("../blocks/theme-card/_theme/theme-card_theme_stalin.css");
@import url("../blocks/theme-card/_theme/theme-card_theme_blocada.css");
@import url("../blocks/theme-card/__wrapper/theme-card__wrapper.css");
@import url("../blocks/theme-card/__section-name/theme-card__section-name.css");
@import url("../blocks/theme-card/__title/theme-card__title.css");
@import url("../blocks/theme-card/__subtitle/theme-card__subtitle.css");
@import url("../blocks/theme-card/__text/theme-card__text.css");
@import url("../blocks/exp-card/exp-card.css");
@import url("../blocks/exp-card/__about/exp-card__about.css");
@import url("../blocks/exp-card/__portrait/exp-card__portrait.css");
@import url("../blocks/exp-card/__section-name/exp-card__section-name.css");
@import url("../blocks/exp-card/__subtitle/exp-card__subtitle.css");
@import url("../blocks/exp-card/__title/exp-card__title.css");
@import url("../blocks/exp-card/__wrapper/theme-card__wrapper.css");

