@import url(../vendor/normalize.css);
@import url(../vendor/fonts/projito.css);
@import url(../vendor/fonts/PT-sans.css);
@import url(../blocks/page/page.css);
@import url(../blocks/projects/projects.css);
@import url(../blocks/projects/__button/projects__button.css);
@import url(../blocks/projects/__card-date/projects__card-date.css);
@import url(../blocks/projects/__card-image/projects__card-image.css);
@import url(../blocks/projects/__card-text/projects__card-text.css);
@import url(../blocks/projects/__card-title/projects__card-title.css);
@import url(../blocks/projects/__card/projects__card.css);
@import url(../blocks/projects/__cards/projects__cards.css);
@import url(../blocks/projects/__title/projects__title.css);