.header__content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

@media screen and (max-width: 767px) {
  .header__content {
    border-bottom: none;
  }
}
