.projects__card {
    display: flex;
    margin-right: 20px;
    background-color: #f7f4f0;
}

.projects__card:last-child {
    margin: 0;
}

@media screen and (max-width: 1439px) {
    .projects__card {
        margin-right: 13px;
        flex-direction: column;
        max-width: 361px;
        min-height: 354px;
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .projects__card {
        margin: 0 0 24px 0;
        min-height: 386px;
        max-width: 336px;
    }
}