.image {
  background-color: #F7F4F0;
  width: 910px;
  height: 520px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: center;
  margin-bottom: 52px;
}

@media screen and (max-width: 1439px) {
  .image {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .image {
    width: 360px;
    height: 244px;
  }
}

.image img {
  margin: auto;
}


@media screen and (max-width: 767px) {
  .image img {
    max-height: 216px;
  }
}

