.image {
  display: flex;
  margin: 0;
  width: 910px;
  height: 520px;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 1439px) {
  .image {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .image {
    width: 360px;
    height: 244px;
  }
}

img {
  margin: auto;
}


@media screen and (max-width: 767px) {
  img {
    max-height: 216px;
  }
}

figcaption {
  position: absolute;
  align-items: center;
  bottom: -50px;
  width: 562px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(12, 6, 38, 0.7);
  margin: 16px 116px 0 232px;
}

@media screen and (max-width: 1439px) {
  figcaption {
    margin: 16px 16px 0 190px;
  }
}

@media screen and (max-width: 767px) {
  figcaption {
    bottom: -56px;
    width: 336px;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(12, 6, 38, 0.7);
    margin: 16px 12px 0 12px;
  }
}
