.article__gallery-number {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-right: 16px;
}


@media screen and (max-width: 767px) {
  .article__gallery-number {
    margin-right: 0px;
  }
}
