.lead__container {
  max-width: 1440px;
}

@media screen and (max-width: 1439px) {
  .lead__container {
    min-width: 736px;
  }
}

@media screen and (max-width: 767px) {
  .lead__container {
    min-width: 336px;
  }
}
