.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 32px 94px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1439px) {
  .footer{
    padding: 0 16px 22px;
  }
}

@media screen and (max-width: 767px) {
  .footer{
    padding: 0 12px 16px;
    flex-direction: column;
    align-items: center;
  }
}
