.exp-card__title {
  margin: 0 0 20px;
  font-family: "projito", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1;
  text-align: center;
  color: #323232;
}

@media screen and (max-width: 1023px) {
  .exp-card__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
}
