.slider {
    max-width: 1440px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .slider  {
       display: block;
       margin: 0 12px;
    }
}
