.green-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 120px;
  background-color: #A5CDAB;
  padding: 16px 33px 16px 24px;
  z-index: 3;
}

@media screen and (max-width: 1439px) {
  .green-popup {
    padding: 12px 20px 12px 20px;
    top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .green-popup {
    padding: 12px 16px 12px 16px;
    top: 55px;
  }
}
