.projects {
    max-width: 1376px;
    margin: 0 auto;
    color: #323232;
    padding: 56px 0 72px 0;
}

@media screen and (max-width: 1439px) {
    .projects {
        padding: 32px 0;
    }
}

@media screen and (max-width: 767px) {
    .projects {
        padding: 0 0 28px 0;
    }
}