.news__card {
  width: 328px;
  transition: 0.2s ease;
}

.news__card:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .news__card {
    width: 180px;
  }
}

@media screen and (max-width: 600px) {
  .news__card {
    width: 100%;
  }
}
