.projects__card-text {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.6;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 1439px) {
    .projects__card-text {
        font-size: 14px;
        line-height: 18px;
        opacity: 1;
        -webkit-line-clamp: 5;
    }
}