.projects__card-text {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.6;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}