.theme-card__text {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #f5f5f5;
}

@media screen and (max-width: 1023px) {
  .theme-card__text {
   display: none;
 }
}

@media screen and (max-width: 600px) {
  .theme-card__text {
   display: inline-block;
   font-size: 12px;
   line-height: 16px;
   max-width: 236px;
   margin-top: 4px;
   z-index: 1;
   position: relative;
 }
}
