.actions__more-subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 20px;
  opacity: 0.5;
  line-height: 1.2;
  margin: 0;
  align-self: center;
}

@media screen and (max-width: 1439px) {
  .actions__more-subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .actions__more-subtitle {
    font-size: 12px;
  }
}
